:root {
  --CLOUD: #f4f4fd;
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

img {
  display: block;
}

h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: 0.4px;
  color: #2e2f42;
}

button {
  cursor: pointer;
  color: #ffffff;
  background-color: #4d5ae5;
  display: block;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  border: none;
  margin: auto;
  align-items: flex-start;
  gap: 10px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.page-header {
  background-color: #ffffff;
  display: flex;
  height: 72px;
  border-bottom: 1px solid #e7e9fc;
}

body {
  font-family: "Roboto", sans-serif;
}

.button {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover {
  background-color: #404bbf;
}

.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.page-header {
  padding-top: 24px;
  padding-bottom: 24px;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.page-header-container {
  display: flex;
}

.page-navigation {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  list-style-type: none;
  gap: 40px;
}

.menu-item {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-item {
  margin-right: 40px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-item:last-child {
  margin-right: 0;
}

.contacts-menu {
  display: flex;
}

.logo {
  color: #2e2f42;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}

.logo-highlight {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #4d5ae5;
}

.menu-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  padding: 24px 0;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}

.menu-link.active::after,
.menu-link.active:focus {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
  position: absolute;
  bottom: -1px;
}

.active {
  color: #404bbf;
}

.contacts {
  display: flex;
  margin-left: auto;
}

.list-item {
  margin-right: 40px;
}

.contacts-link {
  color: #434455;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.32px;
  text-align: left;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

.hero-section {
  max-width: 1440px;
  height: 600px;
  text-align: center;
  padding: 188px 0 188px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/img-name.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-section h1 {
  color: #ffffff;
  font-size: 56px;
  font-weight: 700;
  line-height: 60px; /* 107.143% */
  letter-spacing: 1.12px;
  width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}

.solution-menu {
  display: flex;
  list-style-type: none;
}

.solution-link {
  flex-direction: column;
  align-items: stretch;
  margin-right: 24px;
  width: calc((100% - 72px) / 4);
}
.solution-link:first-child {
  width: calc((100% - 72px) / 4);
}

.solution-link:last-child {
  margin-right: 0;
}

.solution-image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
  margin-bottom: 8px;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  background: #f4f4fd;
}

.solution-section {
  background-color: #fff;
  padding: 120px 0;
}

.solution-menu p {
  color: #434455;
  font-size: 16px;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title-solution {
  margin-bottom: 8px;
}

.title-hero {
  max-width: 496px;
}

.title-comand {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}

.title-portfolio {
  margin-bottom: 8px;
}

.comand {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

.menu-comand {
  display: flex;
  gap: 24px;
}

.comand-link {
  border-radius: 0px 0px 4px 4px;
  background: #fff;
  width: calc((100% - 3 * 24px) / 4);
}

.menu-comand p {
  color: #434455;
  font-size: 16px;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}

.comand-link {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transition: box-shadow 0.3s;
}

.comand-link:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.employee-info {
  padding: 32px 0;
}

.title-employee {
  text-align: center;
  margin-bottom: 8px;
}

.portfolio-section {
  background-color: #fff;
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-info {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.employee-text {
  text-align: center;
}

.employee-social-wrapper {
  display: flex;
  gap: 24px;
  margin-top: 8px;
  height: 40px;
  padding: 0 16px;
  justify-content: center;
}

.employee-social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.employee-social-link:hover,
.employee-social-link:focus {
  background-color: #404bbf;
}

.menu-portfolio {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.overlay {
  position: relative;
  overflow: hidden;
}

.overlay:hover > .overlay-info {
  transform: translateY(0%);
  opacity: 1;
}

.overlay-info {
  position: absolute;
  top: 0;
  padding: 40px 32px;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  color: var(--CLOUD);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link {
  width: calc((100% - 2 * 24px) / 3);
  border: 1px solid #e7e9fc;
  position: relative;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover {
  transform: translateY(-5px);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-link:hover p {
  transform: translateY(0%);
}

.page-footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-link {
  color: #f4f4fd;
  margin-bottom: 16px;
}

.footer-text {
  color: #f4f4fd;
  width: 264px;
  font-size: 16px;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}

.footer-info {
  margin-right: 120px;
}

.social-text {
  color: #fff;
  margin-bottom: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.social-links {
  display: flex;
  gap: 16px;
}

.social-link-wrapper {
  width: 40px;
  height: 40px;
}

.social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: #31d0aa;
}

.link,
.logo-highlight {
  display: inline-block;
}

.social-icon {
  fill: #f4f4fd;
}

.footer-flex {
  display: flex;
  align-items: baseline;
}

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.backdrop.is-open {
  display: block;
}

.modal {
  width: 408px;
  margin: auto;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 24px;
}

.modal-close-btn {
  margin-bottom: auto;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  position: absolute;
  border: 1px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: unset;
  padding: 0;
  background-color: #e7e9fc;
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal-title {
  text-align: center;
  margin-top: 48px;
  margin-bottom: 16px;
  color: #2e2f42;
}

.modal-input-wrap {
  position: relative;
  margin-bottom: 8px;
}

.modal-input {
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  color: #2e2f42;
  height: 40px;
  outline: transparent;
  background-color: transparent;
  padding-left: 35px;
}

.modal-input:focus {
  border-color: #4d5ae5;
}

.modal-input:focus + .modal-icon {
  fill: #4d5ae5;
}

.modal-label {
  display: block;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.48px;
  color: #8e8f99;
  margin-bottom: 4px;
}

.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  flex-shrink: 0;
}

.modal-text {
  width: 100%;
  border-radius: 4px;
  border: 1px solid #4d5ae5, rgba(46, 47, 66, 0.4);
  height: 120px;
  margin-bottom: 8px;
  outline: transparent;
  background-color: transparent;
  padding: 8px 16px;
}

.modal-checkbox-wrap {
  margin-bottom: 24px;
}

.modal-checkbox,
.modal-checkbox-link {
  color: #8e8f99;
  font-size: 12px;
  line-height: 14px; /* 116.667% */
  letter-spacing: 0.48px;
}

.modal-checkbox-link {
  color: #4d5ae5;
}

.subscription-form {
  height: 40px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin-left: auto;
}

.subscription-form .subscription-label {
  margin-bottom: 16px;
  color: #fff;
  display: block;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.subscription-wrapper {
  display: flex;
}

.subscription-wrapper {
  display: flex;
}

.subscription-wrapper .subscription-input {
  width: 264px;
  margin-right: 24px;
  height: 40px;
  padding: 8px 16px;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 4px;
  color: #fff;
}

.subscription-wrapper .subscription-input::placeholder {
  color: #fff;
}

.subscription-wrapper .subscription-submit {
  padding: 8px;
  height: auto;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
